.post3 {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 3vmax;
  height: 306px;
  margin-right: 93px;
  width: calc(50% - 20px);
  position: relative;
  left: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* To ensure the image doesn't overflow */
}

.post3 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease;
}
  
 
  .postHeader3 {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0vmax;
  }
  .postHeader3 > button {
    border-radius: 100%;
    color: rgba(0, 0, 0, 0.582);
  }
  
  .user3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  
  .post3 > img {
    width: 510%;
  }
  .imageContainer3{
    width: 113px;
    height: 116px;
    overflow: hidden;
    border: 4px solid #edc0c0;
    margin-left: 15px;
    position: relative;
    top: 3px;
  }
  
  
  .imageContainer3 > .homeBook {
    /* If using React Router's Link component */
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .imageContainer3 > .homeBook > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .postDetails3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1vmax;
  }
  
  .postDetails3 > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: vmax;
  }
  
  .pricedetails3{
    display: flex;
    flex-direction: row;
  }
  
  .second3{
    font-size: 25px;
    /* border: 2px solid red; */
    border-radius: 50px;
    color: black;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(197,239,81,0.7708333333333334) 76%, rgba(248,253,45,0.38707983193277307) 100%);
    position: relative;
    left:27px;
  }
  
  .postFooter3 > button {
    color: rgba(0, 0, 0, 0.767);
    margin: 0 vmax;
    border-radius: 100%;
    transition: all 0.3s;
    position: relative;
    top: -40px;
  }
  
  .postFooter3 > button:hover {
    transform: translateY(-4px);
  }
  
  .postFooter3 > button > svg {
    font-size: 1.7vmax;
  }
  
  .DialogBox3 {
    min-width: 500px;
    height: 100vh;
    padding: 2vmax;
  }
  .commentForm3{
    display: flex;
    margin: 1vmax;
  }
  .commentForm3 > input {
    width: 100%;
    padding: 1vmax 2vmax;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-radius: 30px 0 0 30px;
    font: 100 1vmax "Roboto", sans-serif;
  }
  .commentForm3 > button {
    border-radius: 0%;
  }
  
  @media screen and (max-width: 600px) {
    .post {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
      border: 1px solid rgba(0, 0, 0, 0.068);
      padding: 0 0 4vw;
      margin: 0;
    }
  
    .postFooter > button > svg {
      font-size: 8vw;
    }
  }

