.searchBook {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.507);
    transition: all 0.5s;
  }
  .searchBook > img {
    height: 8vmax;
    width: 8vmax;
    margin: 1vmax;
    border-radius: 5%;
 
  }
  
  .searchBook:hover {
    transform: translateY(-10px);
  }