 

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:  #E9F1FA; */
    background-color: #0ab3a3;
    
  }

  .header span{
    color: aliceblue;
    font-size: 30px;
    /* background-color: ; */
    
  }

  .background1{
    /* background: rgba(0, 0, 0, 0.7) url('https://media.istockphoto.com/id/476111806/vector/rose-quartz-and-serenity-minimal-modern-graphic-art-stock-background.jpg?s=612x612&w=0&k=20&c=C9PfPALwzc1-fChIQ2NSpCkA1b4vi9odYECNumGBlEA='); */
    /* background: rgba(0, 0, 0, 0.7) url('https://media.istockphoto.com/id/1414659644/photo/blue-background-blue-substrate-light-blue-background-blue-cloudless-sky.jpg?s=612x612&w=0&k=20&c=nKL6Rs-QpZlQlP76bWqhOCauTbla62IN4QXZp12csl4='); */
    background-size: cover;
    background-blend-mode: darken;
}
  
  .header > a {
    width: 2vmax;
    height: 2vmax;
    margin: 1vmax 4vmax;
  }
  .header > a > svg {
    font-size: 2vmax;
    transition: all 0.5s;
    color: rgba(0, 0, 0, 0.445);
  }
  
  .header > a > svg:hover {
    color: black;
    transform: scale(1.2);
  }
  
  @media screen and (max-width: 600px) {
    .header > a {
      width: 8vw;
      height: 8vw;
      margin: 2vw 8vw;
    }
    .header > a > svg {
      font-size: 8vw;
    }
  }


  /* FOR THE LAST */
  
